body{
    background-color: white;
}

.mainContainer{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 720px;
}
h3{
    font-weight: normal;
    font-size: 24px;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
.formContainer{
    border: 2px solid rgb(210, 210, 210);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 30px;  
    margin-top: 48px;
    margin-bottom: 50px;
    width: 70%;
    max-width: 600px;
    border-radius: 10px;
}
.forgot a{
    display: flex;
    justify-content: center;
}
.formContainer form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
input{
    margin-bottom: 20px;
    min-height: 35px;
    border-radius: 4px;
    padding: 5px 40px;
    border: none;
}
input[type="password"], input[type="text"]{
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
 }
a{
    text-decoration: none;
    color: rgb(58, 58, 58);
}
.checkbox-section{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.checkbox-section label{
    margin-bottom:15px;
    color:  black;
}
.password-labels a{
    padding-top: 2px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 13px;
    color: blue;
}
.password-labels{
    display: flex;
    justify-content: space-between;
    color: black;
}
input[type=submit]{
    border:none;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color:black;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 16px;
}
input[type=submit]:hover{
    background-color: rgb(83, 83, 83);
    cursor:pointer;
}
.siteName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0;
    padding-bottom: 26px;
}
p{
    color: black;
}
.rad1{
    display: flex;
    flex-direction: row;
}
.rad1 a{
    padding-top: 13px;
    padding-left: 40px;
}
.rad2{
    width:400px; 
    display: flex;
    justify-content: space-around;
}
.bottom-text .rad2 a{
    justify-content: space-around;

}
label{
    color: black;
    padding-bottom: 3px;
}